body {
  background-color: white;
  
}
* {
  box-sizing: border-box;
  margin: 1%;
  padding-right: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1 {
  text-align: center;
  color: black;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
  margin: 20px;
}

div
{
  border: 3px solid rgb(0, 0, 0);
  width: 31%;
  float:left;
  margin: 10px;
  padding: 4px;
  height: 20%;
  overflow: auto;
  background-color: #999999;
}
  
h2
{
  
  border: 1px solid black;
  text-align: right;
  vertical-align: top;
  float: right;
  margin-top: -5px;
  margin-right: -4px;
  padding: -4px;
  width: 110px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
  
}
p {
  margin-top: 10px;
  padding: 5%;
}

#chicken
{
  background-color: #d59898;
  float: right;
}

#beef
{
  background-color: #c14543;
  float: right;
  color: azure;
}

#sushi
{
  background-color: #e5d198;
  float: right;
}
@media (min-width: 992px) {
  div {
    width: 31%;
    font-size: 100%;
  }

  }
  @media (min-width: 768px) and (max-width: 991px) 
  {
    #col1 {
      width: 47%;
    }
    #col2 {
      width: 47%;
    }
   #col3
    { 
      width:97%;
      
    }
    h1, h2 {
      font-size: 125%;
    }
  }
  @media  (max-width: 767px) {
   div {
     float: right;
     width:fit-content;
   }
   h1, h2 {
    font-size: 135%;
  }
  }
